// Mixin for transition/transform
// @mixin .translate($x, $y) {
//   -webkit-transform: translate($x, $y);
//       -ms-transform: translate($x, $y); // IE9+
//           transform: translate($x, $y);
// }
// @mixin transition(transition) {
//   -webkit-transition: transition;
//           transition: transition;
// }
// @mixin transition-transform(transition) {
//   -webkit-transition: -webkit-transform @transition;
//      -moz-transition: -moz-transform @transition;
//        -o-transition: -o-transform @transition;
//           transition: transform @transition;
// }

// Custom Selectors - Modal Specific
.modal {
  // Modal bg/overlay
  min-width: 320px;

  &:before {
    content: "";
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;
  }

  &:target {
    &:before {
      display: block;
    }
    .modal-content {
      transform: translate(0, 0);
      top: 15%;
    }
  }

}

.modal-content {
  line-height: 1.2;
  z-index: 110;

  position: fixed;
  overflow: hidden;

  justify-content: center;
  text-align: center;

  background-color: #EEEEEE;
  min-width: 360px;

  padding: 20px 8px;

  // border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

  transform: translate(0, -500%);
  transition: transform 0.3s ease-out;

  .modal-title {
    text-align: center;
    width: 100%;
  }

  .modal-section {
    input[type="text"],
    input[type="email"] {
      width: 90%;
      box-sizing:border-box;
      margin: 0px 2px 10px 4px;
    }
  }
}
