// Colors
$red: #FF4136;
$blk: #111111;
$org: #FF851B;
$gry: #AAAAAA;
$bck: #EEEEEE;
$blu: #0074D9;
$sil: #DDDDDD;
$wht: #FFFFFF;

// Mixins
// Usage Example - @include prefix(border-radius, 180px, webkit moz ms o)
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value}; } }
  #{$property}: #{$value}; }

/*-----------------------------------------------
|       Styles for built-in HTML Elements       |
-----------------------------------------------*/
body {
  font-family: 'Droid Sans', sans-serif;
  background-color: $bck;
  line-height: 2;
  margin: 20px auto;
  font-size: 14px;
  padding: 10px; }

hr {
  height: 1px;
  background: #333;
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

ul { list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {text-decoration: none; }

h1,h2,h3,h4 { font-weight: 700; }

img {
  max-width: 250px;
  max-height: 250px;
  margin: 0px 0px 20px 0px;
  border: 1px solid $gry;
}

/*-----------------------------------------------
|       Styles for built-in HTML Elements       |
-----------------------------------------------*/
.nav { font-size: 1.4em;
  text-align: center;

  li {
    margin: 0px 10px 30px 10px;
    display: inline-block;
    float: none; } }

.terminal-wrapper {
  font-family: monospace;
  height: 100px;
  font-size: 1em;

  .terminal-content {
    padding: 10px;
    height: 50px; } }

.user {
  font-weight: 700; }

.command { color: $blu; }

.prompt {
  height: 14px;
  width: 6px;
  display: inline-block;
  background: $blu;
  @include prefix(animation, 1s blink step-end infinite, webkit moz ms o) };

  @keyframes blink {
    from, to { background: transparent; }
    50% { background: $blu; } }

  @-moz-keyframes blink {
    from, to { background: transparent; }
    50% { background: $blu; } }

#social {
  display: flex;
  justify-content: center;
  top: 90%;

  a { padding: 1em; } }
