@import '_modal';

$blu: #3273dc;
$grn: #23d160;
$red: #ff3860;

.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;

  * {
    flex: 1 0 5em;
    margin: 0.5em; /* opposite of fukol-grid margin */
  }
}

// Media query - Smaller than phablet
@media (max-width: 549px) {
  .modal-content {
    margin: 0;
    border: none;
    top: 0;
  }
}

// Media query - Larger than phablet
@media (min-width: 550px) {
  .modal-content {
    margin-left: 25%;
    border: 1px solid black;
    top: 50px;
    width: 50%;
  }
}

// Base HTML Selectors
html, body {
  font-size: 14px;
  line-height: 1.75;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #EEEEEE;
}

h1,h2,h3,h4 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  margin: .5rem;

  &:hover {
    text-decoration: none;
    color: #3273dc;
  }
}

// Custom Selectors
.lead {
  margin: 4rem 2rem 0rem;
}

.bio {
  margin: 0rem 2rem 1rem;
}

.social {
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
