@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  #{$property}: #{$value};
}
// Solarized Colors & assco. mixiins
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3){
  background-color:$rebase03;
  color:$rebase0;
  * { color:$rebase0; }
  h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
  a, a:active, a:visited { color: $rebase1; }
}

@mixin accentize($accent) {
a, a:active, a:visited, code.url { color: $accent; }
h1,h2,h3,h4,h5,h6 {color:$accent}
}

/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)};
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)};

html * {
color-profile: sRGB;
rendering-intent: auto;
}
// End Mixins

html, body, .navbar, .nav, .container{
  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
  //@include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
  @include accentize($red);
}

.thumbnail{
  padding: 10px;
  max-height: 365px;

}

.icon-bar{background-color: $red;}

h1,h2,h3,h4,h5,h6{
margin: 1em;
color: $red !important;
}


a:hover{text-decoration: none;}

.standout{
  color: $red;
  font-weight: bold;
}

#about > img{
    height: 275px;
    border-radius: 180px;
    border: 1px solid grey;
}

#terminal-wrapper{
  padding: 20px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  font-family: monospace;

  .terminal-content{
    font-size: 1em;
  }
}

#user{
  color: $yellow;
  font-weight: bold;
}

#prompt{
  -moz-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  font-weight: 100;
  font-size: 24px;
}
      @keyframes blink{
        from, to{color: transparent;}
        50%{color: $red;}
      }
      @-moz-keyframes blink{
        from, to{color: transparent;}
        50%{color: $red;}
      }

#social{
  display: flex;
  justify-content: center;
  a{padding: 1em;}
}
